/*
 Color base and specializations with variations
*/

@color_pending : rgb(220,220,220); // grayish
@color_pending_strong : darken(@color_pending, 30%);
@color_pending_border : darken(@color_pending, 10%);

@color_running : rgb(220,235,250); // bluish
@color_running_strong : darken(@color_running, 30%);
@color_running_border : darken(@color_running, 10%);

@color_pass    : rgb(220,255,220); // greenish
@color_pass_strong    : darken(@color_pass, 60%);
@color_pass_border    : darken(@color_pass, 10%);

@color_fail    : rgb(255,220,220); // redisn
@color_fail_strong    : darken(@color_fail, 30%);
@color_fail_border    : darken(@color_fail, 10%);


/*  Icon base and specializations */

.icon {
  background-size:32px;
  background-repeat: no;
  background-position: 50% 50%;
  width:32px;
  margin: 3px auto 3px auto;
  height:32px;
  opacity:.8;
}

.build_pending {
  background-image: url(/img/build_large_gray.png);
}

.icon.build_complete {
  background-image:url(/img/build_large_green.png);
}

.icon.build_failed {
  background-image:url(/img/build_large_red.png);
}

.icon.firewall_running {
  background-image: url(/img/firewall_blue.png);
}

.icon.firewall_accepted {
  background-image: url(/img/firewall_green.png);
}

.icon.firewall_rejected {
  background-image: url(/img/firewall_red.png);
}

/* Line item */

.item {
  border:2px solid gray;
  margin:.6em;
  text-align:center;
}

/* Item base based in colors */

.itemRunning {
  border-color: @color_running_border;
  color: @color_running_strong;
  background: linear-gradient(to right, @color_running, white);
}

.itemPass {
  border-color: @color_pass_border;
  color: @color_pass_strong;
  background: linear-gradient(to right, @color_pass, white);
}

.itemFail {
  border-color: @color_fail_border;
  color: @color_fail_strong;
  background: linear-gradient(to right, @color_fail, white);
}

/* Item specializations for types/kinds.
   Notice the building_pending is almost like the itemRunning
   */

.item.firewall_running {
  .itemRunning;
}
.item.build_pending {
  .itemRunning;
  color: @color_pending_strong;
  border-color: @color_pending_border;
}

.item.firewall_accepted, .item.build_complete {
  .itemPass;
}

.item.firewall_rejected, .item.build_failed  {
  .itemFail;
}

/* Cell items */

.cell {
  margin-top:6px;
  text-align:left;
  padding:.5em;

  .xo_box {
    border     : 1px solid @color_pending_border;
    background : @color_pending;
    height:1em;
    width:70px;
    margin:auto;
  }

}

.xo_box.rejected {
  background:@color_fail_strong;
}

.xo_box.passed {
  background:@color_pass_strong;
}

.xo_box.accepted {
  background:@color_pass_strong;
}

.xo_box.running {
  background:@color_running;
}

.xo_header {
  .cell {
      cursor:pointer;
  }
}
/* Animations */

.xo_item {
  transition:all linear 0.5s;
  padding:0 .3em .7em .3em;
}

.xo_item.ng-hide {
  opacity:0;
}

/*
  Inner panels within the xo_items
  ================================
 */

 /* Base reference, for common colored panels
  */
 .panelPass {
   border-color: @color_pass_border;
   color: @color_pass_strong;
   background: linear-gradient(135deg, @color_pass, white);
 }

 .panelRunning {
   border-color: @color_running_border;
   color: @color_running_strong;
   background: linear-gradient(135deg, @color_running, white);
 }

/* Used for building panel when gray */
 .panelPending {
   border-color: @color_pending_border;
   color: @color_pending_strong;
   background: linear-gradient(135deg, @color_pending, white);
 }

 .panelFail {
   border-color: @color_fail_border;
   color: @color_fail_strong;
   background: linear-gradient(135deg, @color_fail, white);
 }

.xo_item_innerHeight {
  height:190px;
}

.xo_item_panel {
  text-align:center;
  border: 2px solid gray;
  padding:10px;
  margin:.6em;
  box-shadow:5px 5px 5px rgba(0,0,0,.4);
  .xo_item_innerHeight;
}


/* This appears within the xo_item_panel_passed and xo_item_panel_pending
   which are, so far, the two cases we have in our JSON for builds..
    */
.subtitle_build {
  font-weight:bold;
}

.subtitle_small, .subtitle_build_progress {
  font-size:60%;
  color:black;
}

.subtitle_metrics {
  padding:6px;
  font-size:80%;
  color:black;
}

.subtitle_metrics_inner_arrow {
  font-size:90%;
  color:white;
  padding-top:26px;
}

/*
  Images and relationships for panels
   */
.image_build {
  background-size:72px;
  width:72px;
  height:72px;
  background-repeat: no;
  background-position: 50% 50%;
  margin: auto;
  opacity:.8;
}

.image_metrics {
  text-align:center;
  background-size:60px;
  width:60px;
  height:60px;
  background-repeat: no;
  background-position: 50% 50%;
  margin: auto;
  opacity:.8;
}

.image_metrics_down {
  .image_metrics;
  background-image: url(/img/metrics_arrow_down.png);
  .subtitle_metrics_inner_arrow {
    padding-top:18px;
  }
}

.image_metrics_up {
  .image_metrics;
  background-image: url(/img/metrics_arrow_up.png);
}

.image_metrics_pass {
  .image_metrics;
  background-image: url(/img/metrics_arrow_right.png);
  .subtitle_metrics_inner_arrow {
    color:black;
    padding-top:23px;
  }
}

/* Metrics:
   can get:

   .xo_item_panel_rejected - example in the design spec
   .xo_item_panel_passed - example in the design spec
   .xo_item_panel_pending - not in the design spec, guess = graysh
   .xo_item_panel_running - not in the design spec, guess = blueish
*/

.xo_item_panel_rejected {
  .panelFail;
  .image_build {
    background-image: url(/img/build_large_red.png);
  }
  .subtitle_build {
    color: @color_fail_strong;
  }
}

.xo_item_panel_passed {
  .panelPass;
  .image_build {
    background-image: url(/img/build_large_blue.png);
  }
  .subtitle_build {
    color: @color_running_strong;
  }
}

/* This incorporates the grayish box
   Used by build, assumption: unit, assumption: functional, assumption: metrics
*/
.xo_item_panel_pending {
  .panelPending;
  .image_build {
    background-image: url(/img/build_large_gray.png);
  }
}

/* This incorporates the grayish box */
.xo_item_panel_running {
  .panelRunning;
  .image_build {
    background-image: url(/img/build_large_blue.png);
  }
}

/* Generic all panels */
.xo_item_panel .title {
  margin:4px;
  text-align:left;
  font-size:100%;
  font-weight:bold;
}

/* Tests panel */
.xo_item_panel .title_progress {
  font-size:160%;
  margin-top:24px;
}

/* Pie bar */

.xo_item_panel .bar_workaround {

  margin-top:.7em;
  position:relative;
  height:2.5em;

  .layer {
      position:absolute;
      width:100%;
      height:100%;
  }

  .subtitle_bar_progress {
    font-size:140%;
    margin-top:.2em;
    color:black;
  }

  .subtitle_bar_progress_text {
    font-size:60%;
    color:black;
  }

  .covered_total {
    background:@color_fail_strong;
    opacity:.5;
  }

  .covered_passed {
   background:@color_pass_strong;
   opacity:.5;
 }

}

/* Results */

.xo_item_panel.results {
  box-shadow:none;
  border:none;
  .title {
    text-align:center;
  }

  .statements {

    .subtitle_statementMinor {
      margin-top:.5em;
    }

    .subtitle_statementMajor {
      margin-top:.5em;
      font-size:160%;
    }

    .subtitle_statementAction {
      margin-top:.6em;
    }
  }

}


/* The progress percentage gets some color indication */

@color_base: rgb(50,10,0);
@color_green : rgb(0,190,0);

.title_progress_color_0 {
  color: mix(@color_base, @color_green, 90%)
}
.title_progress_color_1 {
  color: mix(@color_base, @color_green, 80%)
}
.title_progress_color_2 {
  color: mix(@color_base, @color_green, 70%)
}
.title_progress_color_3 {
  color: mix(@color_base, @color_green, 60%)
}
.title_progress_color_4 {
  color: mix(@color_base, @color_green, 50%)
}
.title_progress_color_5 {
  color: mix(@color_base, @color_green, 40%)
}
.title_progress_color_6 {
  color: mix(@color_base, @color_green, 30%)
}
.title_progress_color_7 {
  color: mix(@color_base, @color_green, 20%)
}
.title_progress_color_8 {
  color: mix(@color_base, @color_green, 10%)
}
.title_progress_color_9 {
  color: mix(@color_base, @color_green, 0%)
}
.title_progress_color_10 {
  color: mix(@color_base, @color_green, 0%)
}

/* In IE 9 and older,
   We should offer another solution.
   */
.flex_rows {
  display:flex;
  flex-direction:column;
  height:100%;
}

.flex_row {
  flex:1;
}

.flex_row_expand {
  flex:auto;
}

/* Debug and temporary */
.debugPanel {
  padding:1em;
}

/* Outer table and main header */
.panel_table {
  background-color:rgb(245,250,255);
  padding-bottom:1em;
}

.table_header {
  margin:.6em;
  margin-bottom:0;

  .cell {
    color:@color_pending_strong;
  }
}
