<!doctype html>
<html ng-app="myAppDev">

<head>

  <script src="lib/jquery.js"></script>
  <script src="lib/angular.js"></script>
  <script src="lib/angular-route.js"></script>
  <script src="lib/angular-animate.js"></script>

  <!--[if lte IE 8]>
  <script type="text/javascript" src="lib/excanvas.js"></script>
  <![endif]-->
  <script src="lib/Chart.js"></script>
  <script src="lib/angular-chart.js"></script>

  <!-- build-prod remove TBD bug if it was to production -->
  <script src="lib/angular-mocks.js"></script>
  <script src="js/backend.js"></script>
  <!-- end of development -->

  <script src="js/controllers.js"></script>

  <link rel="stylesheet" href="css/pure.css">
  <link rel="stylesheet" href="css/index.css">
  <!--[if lte IE 9]> TBD
  <link rel="stylesheet" href="css/index_noflexbox.css">
  <![endif]-->
  <link rel="stylesheet" href="css/angular-chart.css">

</head>

<body>


<div ng-controller="PanelItems">

    <div class="debugPanel">
      <a ng-click="flowInit()" href="">Click to refetch</a>. Notice that some elements are changing for tests purpose. Please check stubbed backend.js engine to see which.
    </div>

    <div class="panel_table">

      <div ng-include src="'panel-header.html'"></div>
      <!-- keeping it as partials, for eventual improvement in separating in files or having
           partials reside in other locations, such as an included bundle -->
      <xo-elements></xo-elements>

    </div>
</div>

<script type="text/ng-template" id="panel-item.html">
  <div class="pure-g item {{item.type}}_{{item.state}}" ng-repeat="item in elements">
    <div class="pure-u-24-24">

        <div class="pure-g xo_header" ng-controller="PanelHeader" ng-click="showDetail(item.changelist_slash_build)" >

            <div class="pure-u-1-24" >
                <div class="icon {{item.type}}_{{item.state}}"></div>
            </div>
            <div class="pure-u-4-24">
              <div class="cell">
                {{item.changelist_slash_build}}
              </div>
            </div>
            <div class="pure-u-3-24">
              <div class="cell">
                {{item.owner}}
              </div>
            </div>
            <div class="pure-u-4-24">
              <div class="cell">
                {{item.time_started}}
              </div>
            </div>
            <div class="pure-u-2-24">
              <div class="cell" ng-model="item.state">
                <div ng-bind="item.state_augumented"></div>
              </div>
            </div>

            <div class="pure-u-8-24">
              <div class="pure-g"  ng-hide="activeElement==item.changelist_slash_build">

                <div class="pure-u-6-24" ng-model="item.metrics" >
                  <div class="cell">
                    <div class="xo_box {{item.metrics.state}}"  >
                    </div>
                  </div>
                </div>
                <div class="pure-u-6-24" ng-model="item.build">
                  <div class="cell">
                    <div class="xo_box {{item.build.state}}"  >
                    </div>
                  </div>
                </div>
                <div class="pure-u-6-24" ng-model="item.unit_test">
                  <div class="cell">
                    <div class="xo_box {{item.unit_test.state}}"  >
                    </div>
                  </div>
                </div>
                <div class="pure-u-6-24" ng-model="item.functional_test">
                  <div class="cell">
                    <div class="xo_box {{item.functional_test.state}}"  >
                    </div>
                  </div>
                </div>

              </div>
            </div>


            <div class="pure-u-2-24">
            </div>

      </div>

      <!-- keeping it as partials, for eventual improvement in separating in files or having
           partials reside in other locations, such as an included bundle -->

      <xo-folder></xo-folder>

    </div>
  </div>

</script>

<script type="text/ng-template" id="panel-inspect.html">

      <div class="pure-g xo_item" ng-show="activeElement==item.changelist_slash_build"  >

          <!-- first panel -->
          <div class="pure-u-1-5" ng-controller="MetricsCtr">
            <div class="xo_item_panel xo_item_panel_{{item.metrics.state}}" >
              <p class="title">Metrics</p>
              <div class="pure-g">
                  <div class="pure-u-12-24" >
                    <div class="image_metrics_{{item.metrics.testarrow}}">
                        <div class="subtitle_metrics_inner_arrow" ng-bind="item.metrics.data.test"></div>
                    </div>
                    <div class="subtitle_metrics">
                      Test
                    </div>
                  </div>
                  <div class="pure-u-12-24">
                  <div class="image_metrics_{{item.metrics.maintainabilityarrow}}">
                      <div class="subtitle_metrics_inner_arrow" ng-bind="item.metrics.data.maintainability"></div>
                  </div>
                    <div class="subtitle_metrics">
                      Maintainability
                    </div>
                  </div>
              </div>

              <div class="pure-g">
                  <div class="pure-u-12-24" >
                  <div class="image_metrics_pass">
                      <div class="subtitle_metrics_inner_arrow" ng-bind="item.metrics.data.security"></div>
                  </div>
                    <div class="subtitle_metrics">
                      Security
                    </div>
                  </div>
                  <div class="pure-u-12-24">
                  <div class="image_metrics_pass">
                      <div class="subtitle_metrics_inner_arrow" ng-bind="item.metrics.data.workmanship"></div>
                  </div>
                    <div class="subtitle_metrics">
                      Workmanship
                    </div>
                  </div>
              </div>

            </div>
          </div>

          <!-- second panel -->
          <div class="pure-u-1-5" >
            <div class="xo_item_panel xo_item_panel_{{item.build.state}}" >

              <div class="flex_rows">

                  <div class="flex_row">
                      <div class="pure-g ">
                        <div class="pure-u-24-24" >
                          <p class="title">Build</p>
                        </div>
                      </div>
                  </div>

                  <div class="flex_row_expand">
                      <div class="pure-g ">
                      </div>
                  </div>

                  <div class="flex_row">
                    <div class="pure-g ">
                        <div class="pure-u-12-24" >
                          <div class="image_build"></div>
                        </div>
                        <div class="pure-u-12-24">
                          <div class="image_build"></div>
                        </div>
                    </div>
                  </div>

                  <div class="flex_row">
                    <div class="pure-g ">
                        <div class="pure-u-12-24" >
                          <div class="subtitle_build">
                            Debug
                          </div>
                        </div>
                        <div class="pure-u-12-24">
                          <div class="subtitle_build">
                            Release
                          </div>
                        </div>
                    </div>
                  </div>

                  <div class="flex_row_expand">
                    <div class="pure-g ">
                    </div>
                  </div>

                  <div class="flex_row">
                    <div class="pure-g ">
                        <div class="pure-u-24-24" >
                          {{item.build.date}}
                        </div>
                    </div>
                  </div>

              </div> <!-- end of flex rows -->

            </div>
          </div>

          <!-- third panel -->
          <div class="pure-u-1-5" ng-controller="PieCtrlUnit" >
            <div class="xo_item_panel xo_item_panel_{{item.unit_test.state}}" >
              <p class="title">Unit test</p>

              <div class="pure-g">
                  <div class="pure-u-13-24" >
                      <canvas height="260" class="chart chart-pie"
                      chart-data="data" chart-labels="labels" chart-colours="colours" chart-options="options">
                      </canvas>
                  </div>
                  <div class="pure-u-9-24">
                    <div class="title_progress title_progress_color_{{item.unit_test.progress_decimal}}"><span ng-bind="item.unit_test.progress"></span>%</div>
                    <div class="subtitle_build_progress">Tests passed</div>
                  </div>
              </div>
              <div class="pure-g">
                <div class="pure-u-24-24" >
                    <div class="bar_workaround">
                      <div class="layer covered_total">
                      </div>
                      <div class="layer covered_passed" ng-attr-style='width:{{item.unit_test.progress_covered}}%'>
                      </div>
                      <div class="layer covered_inner">
                        <div class="subtitle_bar_progress"><span ng-bind="item.unit_test.progress_covered"></span>%</div>
                        <div class="subtitle_bar_progress_text">Code covered</div>
                      </div>
                    </div>
                </div>
              </div>

            </div>
          </div>

          <!-- fourth panel -->
          <div class="pure-u-1-5" ng-controller="PieCtrlFunctional" >
            <div class="xo_item_panel xo_item_panel_{{item.functional_test.state}}" >
              <p class="title">Functional test</p>

              <div class="pure-g">
                  <div class="pure-u-13-24" >
                      <canvas height="260" class="chart chart-pie"
                      chart-data="data" chart-labels="labels" chart-colours="colours" chart-options="options">
                      </canvas>
                  </div>
                  <div class="pure-u-9-24">
                    <div class="title_progress title_progress_color_{{item.functional_test.progress_decimal}}"><span ng-bind="item.functional_test.progress"></span>%</div>
                    <div class="subtitle_build_progress">tests passed</div>
                  </div>
              </div>

              <div class="pure-g">
                <div class="pure-u-24-24" >
                    <div class="bar_workaround">
                      <div class="layer covered_total">
                      </div>
                      <div class="layer covered_passed" ng-attr-style='width:{{item.functional_test.progress_covered}}%'>
                      </div>
                      <div class="layer covered_inner">
                        <div class="subtitle_bar_progress"><span ng-bind="item.functional_test.progress_covered"></span>%</div>
                        <div class="subtitle_bar_progress_text">Code covered</div>
                      </div>
                    </div>
                </div>
              </div>

            </div>
          </div>

          <!-- fifth panel -->
          <div class="pure-u-1-5" ng-controller="ResultsCtrl" >

            <div class="xo_item_panel results">
              <p class="title">Result</p>
              <div class='statements'>
                  <div class="subtitle_statementMinor" ng-bind="statements.one">
                  </div>
                  <div class="subtitle_statementMajor" ng-bind="statements.two">
                  </div>
                  <div class="subtitle_statementAction" ng-bind-html="renderHTML()">
                  </div>
              </div>
            </div>

          </div>

      </div>

</script>


<script type="text/ng-template" id="panel-header.html">
  <div class="pure-g table_header" >
            <div class="pure-u-5-24" >
              <div class="cell">
                Changelist / build
              </div>
            </div>
            <div class="pure-u-3-24">
              <div class="cell">
                Owner
              </div>
            </div>
            <div class="pure-u-4-24">
              <div class="cell">
                Time started
              </div>
            </div>
            <div class="pure-u-2-24">
              <div class="cell">
                State
              </div>
            </div>
            <div class="pure-u-2-24" >
              <div class="cell">
                Metrics
              </div>
            </div>
            <div class="pure-u-2-24" >
              <div class="cell">
                Build
              </div>
            </div>
            <div class="pure-u-2-24">
              <div class="cell">
                  Unit test
              </div>
            </div>
            <div class="pure-u-3-24">
              <div class="cell">
                Functional test
              </div>
            </div>
            <div class="pure-u-1-24">
            </div>
  </div>

</script>

</body>

</html>
